<!DOCTYPE html>
{% load staticfiles %}
<html>
<head>
	<!-- Bootstrap Links -->
	<link rel="stylesheet" type="text/css" href="{% static "css/bootstrap.min.css" %}">

<title>BASE </title>
</head>
<body>

{% block navigation %}

<!--Fixed Top Navbar-->
    <div class="navbar  navbar-inverse navbar-fixed-top">
      <div class="container">
        <a class="navbar-brand" href="/cards">Article Blog</a>
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target  =".navbar-collapse">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav navbar-right">
            <li class=""><a href="/cards">Home</a></li>
            <li><a href="#">Contact Us</a></li>
            <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown">{% if request.user.username %}{{request.user.username}}{% else %} Hello Guest!{% endif %}<span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="/admin">Admin Login</a></li>
                <li class="divider"></li>
                <li><a href="/cards">Home</a></li>
                {% if not request.user.username %}
                  <li><a href="/users/login">Login</a></li>
                  <li><a href="/users/register">SignUp</a></li>
                {% endif %}
                {% if request.user.username %}
                  <li><a href="/users/logout">Logout</a></li>
                {% endif %}
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </div>


<!--End Fixed Top Navbar-->

{% endblock %}
	<br><br><br><br>

<div class='container'>
	{% block content %}
      <!-- content block code get overridden here -->
	{% endblock %}
</div>

<!-- Bootstrap Links -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script src="{% static "js/jquery.min.js" %}"></script>
<script src="{% static "js/bootstrap.min.js" %}"></script>
<!-- Bootstrap Links -->
</body>
</html>